@model List<UserDTO>



<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kategori Yönetimi /</span> Kullanıcı Yönetimi</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">


        <div class="table-responsive text-nowrap m-5">
            <a class="btn btn-primary mb-2" width="250px" asp-area="Admin" asp-controller="User" asp-action="Add">
                <i class='bx bxs-comment-add'></i>Kullanıcı Ekle
            </a>
            <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Rol</th>
                        <th>Email Doğrulama</th>
                        <th>Bağlantı Hataları</th>
                        <th>İşlemler</th>

                    </tr>
                </thead>

                <tfoot>
                    <tr>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Rol</th>
                    <th>Email Doğrulama</th>
                    <th>Bağlantı Hataları</th>
                    <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var user in Model)
                    {
                        <tr name="@user.Id">
                            <th>@user.FirstName</th>
                            <th>@user.LastName</th>

                            <th>@user.Email</th>
                            <th>@user.PhoneNumber</th>
                            <th>@user.Role</th>
                         
                            <th>@(user.EmailConfirmed ? "Doğrulanmış" : "Doğrulanmamış")</th>
                            <th>@user.AccessFailledCount</th>
                           

                            
                            <th>
                                <a class="btn btn-warning btn-sm" data-id="@user.Id" asp-area="Admin" asp-controller="User" asp-action="Update" asp-route-userId="@user.Id"><i class="bx bx-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@user.Id" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userId="@user.Id" onclick="return confirm('Silmek istediğinden emin misin?')"><i class="bx bx-minus-circle"></i></a>
                            </th>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5">

</div>
@*
// Buraya Eklendi *@
<script>
    function clicked(e) {
        if (!confirm('Silmek istediğinden emin misin?')) {
            e.preventDefault();
        }
    }
</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/web/alertify.min.js" />
<script src="~/js/site.js" asp-append-version="true"></script>
@*Burada bitiyor*@

@section Scripts{
    <script src="~/js/userIndex.js" type="application/ecmascript"></script>
}