@model ArticleDTO
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="blog-posts">
  
    <div class="container">
        <div class="row">
            <span style="margin-left:50px;">Detay Sayfasına Hoşgeldiniz</span>
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            @*<img src="@Model.Image" alt="">*@
                            <img src="~/stand-blog/assets/images/blog-post-01.jpg" alt="">

                            <div class="blog-post">
                                <div class="blog-thumb">
                                   
                                    <img src="@Model.Image" alt="">
                                </div>
                                <div class="down-content">
                                    <span>@Model.Title</span>
                                    <ul class="post-info">
                            @*            <li>@Model.User.FirstNAme @Model.User.LastName</li>*@
                                        <li>@Model.CreatedDate.ToString("dd/MM/yyyy")</li>

                                    </ul>
                                    <p>
                                        @Model.Content
                                    </p>
                                    <span>@Model.Category.Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
